/*---------- fonts start ----------*/

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rifton';
    src: url('fonts/Rifton-Normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rifton';
    src: url('fonts/Rifton-Rus.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*---------- fonts end ----------*/

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
	font-family: 'Inter';
	color: #FFFFFF;
}
body {
	background-color: #000000;
}
body:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100); 
	background-image: url('img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 0;
	left: ;
	right: 0;
	z-index: 1;
}
.no_highlights {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*---------- main start ----------*/

.index_main {
	display: block;
	width: 100%;
	height: auto;
	min-height: 80vh;
	min-height: calc(var(--vh, 1vh) * 80); 
	position: relative;
	box-sizing: border-box;
	z-index: 2;
}
.index_main:before {
	content: '';
	display: block;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100); 
	background-image: url('img/light.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center 3.4rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	animation: light 10s linear infinite;
}
@keyframes light {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .6;
	}
	100% {
		opacity: 1;
	}
}
.ufo_box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: auto;
	position: absolute;
	top: 13.5rem;
	left: 0;
	transition: transform 1.2s ease;
	transform: translateY(-8rem);
	z-index: 0;
}
.logo_axe {
	display: block;
	width: 20.7rem;
	transition: opacity 1.2s ease;
	opacity: 0;
}
.ufo {
	display: block;
	width: 36.6rem;
	transition: opacity 1.2s ease;
	opacity: .3;
	margin-top: 2.1rem;
}
.index_main.active_index_main .ufo_box {
	transform: none;
}
.index_main.active_index_main .logo_axe {
	opacity: 1;
}
.index_main.active_index_main .ufo {
	opacity: 1;
	animation: ufo 7s linear infinite;
}
@keyframes ufo {
	0% {
		transform: none;
	}
	25% {
		transform: translateY(1.2rem);
	}
	50% {
		transform: none;
	}
	75% {
		transform: translateY(-.8rem);
	}
	100% {
		transform: none;
	}
}
.dynamic_block {
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 2;
	opacity: 0;
	transition: opacity .4s ease;
	height: 0;
	overflow: hidden;
	padding-top: 30.7rem;
}
.active_dynamic_block {
	opacity: 1;
	z-index: 3;
	height: auto;
	overflow: visible;
	position: relative;
}
#welcome_block {
	width: 98rem;
}
.start_button {
	display: block;
	width: 100%;
	height: 10rem;
	background-color: #FFFFFF;
	border-radius: 2rem;
	border: 3px solid #FBF100;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: transform .4s ease;
	box-sizing: border-box;
}
.start_button:hover {
	transform: scale(1.05);
}
.start_button span {
	display: block;
	width: 100%;
	height: 1em;
	font-size: 1.8rem;
	line-height: 1em;
	color: #000000;
	text-transform: uppercase;
	font-family: 'Rifton';
	margin: auto 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.start_button span:after {
	content: ' | ';
	font-weight: bold;
	animation: typing 1s linear infinite;
}
@keyframes typing {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.search {
	display: block;
	width: 3rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3.9rem;
	margin: auto 0;
}
.welcom_title {
	display: block;
	width: 64rem;
	height: auto;
	text-align: center;
	font-size: 2.8rem;
	line-height: normal;
	font-weight: 400;
	color: #FBF100;
	font-family: 'Rifton';
	text-transform: uppercase;
	margin: 9.4rem auto 0;
}
.welcome_text {
	display: block;
	width: 62rem;
	height: auto;
	text-align: center;
	font-size: 1.6rem;
	line-height: normal;
	font-weight: 400;
	margin: 2rem auto 0;
}
#question_block {
	width: 98rem;
}
.question_section_item {
	display: block;
	width: 100%;
	height: 40rem;
	border-radius: 2rem;
	border: 3px solid #FBF100;
	background: #FFFFFF;
	box-sizing: border-box;
	position: absolute;
	top: 30.7rem;
	left: 0;
	transition: opacity .4s ease;
	z-index: 1;
	opacity: 0;
}
.question_section_item.active_question_section_item  {
	opacity: 1;
	z-index: 2;
}
.question_title_container {
	display: block;
	width: 100%;
	height: 10rem;
	position: relative;
}
.question_title_container:before {
	content: '';
	display: block;
	width: 3rem;
	height: 3rem;
	background-image: url(img/icon_search_bold.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3.5rem;
	margin: auto 0;
}
.question_title_container:after {
	content: '';
	display: block;
	width: 91rem;
	height: 2px;
	background-color: #363636;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.question_title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	font-size: 1.8rem;
	line-height: 1em;
	color: #000000;
	text-transform: uppercase;
	font-family: 'Rifton';
	margin: auto 0;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 10rem;
	box-sizing: border-box;
}
.answers_container {
	display: block;
	width: 100%;
	height: auto;
}
.answer_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10rem;
}
.answer_item_button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 8rem;
	transition: background-color .4s ease;
	text-align: left;
	font-size: 1.8rem;
	line-height: normal;
	color: #000000;
	padding: 0 10rem;
	box-sizing: border-box;
	position: relative;
	border: none;
	outline: none;
	background-color: #FFFFFF;
	cursor: pointer;
}
.answer_item_button:hover,
.answer_item_button.active_answer_item_button {
	background-color: #FBF100;
}
.answer_item_button:before {
	content: '';
	display: block;
	width: 2.3rem;
	height: 2.3rem;
	background-image: url('img/icon_empty_round.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3.5rem;
	margin: auto 0;
}
.answer_item_button.active_answer_item_button:before {
	background-image: url('img/icon_full_round.svg?v=1.1');
}
.load_icons_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
.icons_line {
	display: block;
	width: 15.7rem;
}
.load_title {
	display: block;
	width: 64rem;
	height: auto;
	text-align: center;
	font-size: 2.6rem;
	line-height: normal;
	font-weight: 400;
	color: #FBF100;
	font-family: 'Rifton';
	text-transform: uppercase;
	margin: 8rem auto 0;
}
.load_gif {
	display: block;
	width: 15rem;
	margin: 3rem auto 0;
	animation: load_gif 1.5s linear infinite;
}
@keyframes load_gif {
	100% {
		transform: rotate(360deg);
	}
}
.result_section {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100rem;
	height: 51.3rem;
	margin: 0 auto;
	position: relative;
}
.result_section.active_result_section {
	display: flex;
}
.preview_side {
	display: block;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
}
.result_label {
	content: '';
	display: block;
	width: 22.5rem;
	height: 17rem;
	background-image: url(img/result_label.png?v=1.1);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: -8rem;
	left: -11rem;
	z-index: 2;
}
.product_image {
	display: block;
	position: relative;
	z-index: 2;
}
.ice_chill_section .product_image {
	width: 46.6rem;
}
.dark_temptation_section .product_image {
	width: 50rem;
}
.cool_ocean_section .product_image {
	width: 49.5rem;
}
.ice_chill_section .preview_side {
	background-color: #003144;
}
.ice_chill_section .preview_side:before {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #00EFF3 0%, rgba(217, 217, 217, 0.00) 100%);
	position: absolute;
	bottom: -22rem;
	left: -22rem;
	z-index: 1;
	animation: ice_chill_before 10s linear infinite;
}
.ice_chill_section .preview_side:after {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #00EFF3 0%, rgba(217, 217, 217, 0.00) 100%);
	position: absolute;
	top: -22rem;
	right: -22rem;
	z-index: 1;
	animation: ice_chill_after 10s linear infinite;
}
@keyframes ice_chill_before {
	0% {
		opacity: 1;
		bottom: -22rem;
		left: -22rem;
	}
	50% {
		opacity: .6;
		bottom: -30rem;
		left: -30rem;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		bottom: -22rem;
		left: -22rem;
	}
}
@keyframes ice_chill_after {
	0% {
		opacity: 1;
		top: -22rem;
		right: -22rem;
	}
	50% {
		opacity: .6;
		top: -30rem;
		right: -30rem;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		top: -22rem;
		right: -22rem;
	}
}
.dark_temptation_section .preview_side {
	background: radial-gradient(50% 50% at 50% 50%, #86432D 0%, #381C1A 100%);
}
.dark_temptation_section .preview_side:before {
	content: '';
	display: block;
	width: 76.8rem;
	height: 76.8rem;
	background: radial-gradient(38.81% 38.81% at 59.4% 61.88%, rgba(144, 72, 50, 0.35) 0%, rgba(138, 70, 48, 0.00) 79.65%);
	position: absolute;
	top: 5rem;
	left: 5rem;
	z-index: 1;
	animation: dark_temptation_before 10s linear infinite;
}
.dark_temptation_section .preview_side:after {
	content: '';
	display: block;
	width: 109.8rem;
	height: 109.8rem;
	background: radial-gradient(38.81% 38.81% at 59.4% 61.88%, rgba(144, 72, 50, 0.50) 0%, rgba(138, 70, 48, 0.00) 79.65%);
	position: absolute;
	bottom: 6rem;
	right: 4rem;
	z-index: 1;
	animation: dark_temptation_after 10s linear infinite;
}
@keyframes dark_temptation_before {
	0% {
		opacity: 1;
		top: 5rem;
		left: 5rem;
	}
	50% {
		opacity: .6;
		top: 10rem;
		left: 10rem;
		transform: scale(.8);
	}
	100% {
		opacity: 1;
		top: 5rem;
		left: 5rem;
	}
}
@keyframes dark_temptation_after {
	0% {
		opacity: 1;
		bottom: 6rem;
		right: 4rem;
	}
	50% {
		opacity: .6;
		bottom: 16rem;
		right: 14rem;
		transform: scale(.5);
	}
	100% {
		opacity: 1;
		bottom: 6rem;
		right: 4rem;
	}
}
.cool_ocean_section .preview_side {
	background-color: #063855;
}
.cool_ocean_section .preview_side:before {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #10DFE3 0%, rgba(16, 223, 227, 0.00) 100%);
	position: absolute;
	bottom: -22rem;
	left: -22rem;
	z-index: 1;
	animation: cool_ocean_before 10s linear infinite;
}
.cool_ocean_section .preview_side:after {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #10DFE3 0%, rgba(16, 223, 227, 0.00) 100%);
	position: absolute;
	top: -22rem;
	right: -22rem;
	z-index: 1;
	animation: cool_ocean_after 10s linear infinite;
}
@keyframes cool_ocean_before {
	0% {
		opacity: 1;
		bottom: -22rem;
		left: -22rem;
	}
	50% {
		opacity: .6;
		bottom: -30rem;
		left: -30rem;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		bottom: -22rem;
		left: -22rem;
	}
}
@keyframes cool_ocean_after {
	0% {
		opacity: 1;
		top: -22rem;
		right: -22rem;
	}
	50% {
		opacity: .6;
		top: -30rem;
		right: -30rem;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		top: -22rem;
		right: -22rem;
	}
}
.description_side {
	display: block;
	width: 50%;
	height: 100%;
	border-radius: 2rem;
	box-sizing: border-box;
}
.ice_chill_section .description_side {
	background: #0C1823;
	padding: 6.1rem 5.7rem 1rem 7.1rem;
}
.dark_temptation_section .description_side {
	background: #2C1715;
	padding: 6.1rem 7.1rem 1rem 7.1rem;
}
.cool_ocean_section .description_side {
	background: #082A3E;
	padding: 6.1rem 5.9rem 1rem 7.1rem;
}
.description_title {
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	font-family: Rifton;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 1.8rem;
	line-height: 1em;
	font-weight: 400;
}
.description_image {
	display: block;
	margin-top: 1rem;
}
.ice_chill_section .description_image {
	width: 35.7rem;
}
.dark_temptation_section .description_image {
	width: 32.3rem;
}
.cool_ocean_section .description_image {
	width: 26rem;
}
.description_text {
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 1.6rem;
	line-height: normal;
	color: #FFFFFF;
	font-weight: 400;
	margin-top: 4rem;
}
.buy_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 26.5rem;
	height: 5rem;
	padding-left: 10rem;
	box-sizing: border-box;
	font-family: Rifton;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 3px;
	border-radius: 10rem;
	text-decoration: none;
	cursor: pointer;
	transition: transform .4s ease, color .4s ease;
	position: relative;
}
.ice_chill_section .buy_button {
	color: #00EFF3;
	border: 1px solid #00EFF3;
	margin-top: 4rem;
}
.dark_temptation_section .buy_button {
	color: #8D5041;
	border: 1px solid #8D5041;
	margin-top: 2.1rem;
}
.cool_ocean_section .buy_button {
	color: #1097BC;
	border: 1px solid #1097BC;
	margin-top: 5.9rem;
}
.buy_button:hover {
	transform: scale(1.05);
	color: #FFFFFF;
}
.buy_button:before {
	content: '';
	display: block;
	width: 5rem;
	height: 5rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.ice_chill_section .buy_button:before {
	background-image: url(img/icon_basket_ice.svg);
}
.dark_temptation_section .buy_button:before {
	background-image: url(img/icon_basket_dark.svg);
}
.cool_ocean_section .buy_button:before {
	background-image: url(img/icon_basket_cool.svg);
}
.mouse_container {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 3.7rem;
}
.icon_mouse {
	display: block;
	width: 2.7rem;
	margin: 0 auto;
}
.mouse_arrow {
	display: block;
	width: 1rem;
	margin: .8rem auto 0;
	animation: mouse_arrow 2s linear infinite;
}
@keyframes mouse_arrow {
	0% {
		transform: none;
	}
	50% {
		transform: translateY(.5rem);
	}
	100% {
		transform: none;
	}
}
.another_section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100rem;
	height: 24rem;
	margin: 3.5rem auto 0;
	position: relative;
}
.another_item {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.another_item.active_another_item {
	display: flex;
}
.ice_another_item {
	background-image: url(img/bg_ice_small.png);
}
.cool_another_item {
	background-image: url(img/bg_cool_small.png);
}
.dark_another_item {
	background-image: url(img/bg_dark_small.png);
}
.another_item_image {
	display: block;
}
.ice_another_item .another_item_image {
	width: 21.5rem;
}
.cool_another_item .another_item_image {
	width: 22.2rem;
}
.dark_another_item .another_item_image {
	width: 22rem;
}
.another_item_description_container {
	display: block;
	width: auto;
	height: auto;
}
.another_item_title {
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 1.6rem;
	line-height: normal;
	font-family: 'Rifton';
	font-weight: 400;
	text-transform: uppercase;
}
.ice_another_item .another_item_title {
	color: #00EFF3;
}
.cool_another_item .another_item_title {
	color: #10AECF;
}
.dark_another_item .another_item_title {
	color: #876453;
}
.another_item_logo {
	display: block;
	margin-top: 1.6rem;
}
.ice_another_item .another_item_logo {
	width: 10.4rem;
}
.cool_another_item .another_item_logo {
	width: 13rem;
}
.dark_another_item .another_item_logo {
	width: 22.7rem;
}
.buy_button_small {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 21.2rem;
	height: 4rem;
	padding-left: 8rem;
	box-sizing: border-box;
	font-family: Rifton;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 3px;
	border-radius: 8rem;
	text-decoration: none;
	cursor: pointer;
	transition: transform .4s ease, color .4s ease;
	position: relative;
	margin-top: 2.7rem;
}
.ice_another_item .buy_button_small {
	color: #00EFF3;
	border: 1px solid #00EFF3;
}
.dark_another_item .buy_button_small {
	color: #8D5041;
	border: 1px solid #8D5041;
}
.cool_another_item .buy_button_small {
	color: #1097BC;
	border: 1px solid #1097BC;
}
.buy_button_small:hover {
	transform: scale(1.05);
	color: #FFFFFF;
}
.buy_button_small:before {
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.ice_another_item .buy_button_small:before {
	background-image: url(img/icon_basket_ice.svg);
}
.dark_another_item .buy_button_small:before {
	background-image: url(img/icon_basket_dark.svg);
}
.cool_another_item .buy_button_small:before {
	background-image: url(img/icon_basket_cool.svg);
}
.not_all_text_container {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 5.2rem;
}
.not_all_text {
	display: block;
	font-size: 2.4rem;
	color: #FBF100;
	font-family: 'Rifton';
	position: relative;
	text-align: center;
	font-weight: 400;
}
.not_all_text:before {
	content: '';
	display: block;
	width: 10rem;
	height: 12rem;
	background-image: url(img/yellow_arrow_1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: -2rem;
	left: 112rem;
	animation: yellow_arrow_1 3s linear infinite;
	transform-origin: center top;
}
@keyframes yellow_arrow_1 {
	0% {
		transform: none;
	}
	50% {
		transform: rotate(6deg);
	}
	100% {
		transform: none;
	}
}
.bonus_section {
	display: block;
	width: 100%;
	height: auto;
	background-image: url(img/bg_bonus.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	margin-top: 5.3rem;
}
.music_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100rem;
	margin: 0 auto;
}
.music_info_side {
	display: block;
	width: 50%;
	height: 51.3rem;
	background-color: #0C1823;
	padding: 11.9rem 6.3rem 0 7.7rem;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	position: relative;
	box-sizing: border-box;
}
.music_info_side:before {
	content: '';
	display: block;
	width: 10rem;
	height: 10rem;
	background-image: url(img/round_yellow_arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	bottom: -5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: round_yellow_arrow 4s linear infinite;
}
@keyframes round_yellow_arrow {
	0% {
		transform: none;
	}
	50% {
		transform: translateY(2rem);
	}
	100% {
		transform: none;
	}
}
.bonus_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 13.2rem;
	height: 2.5rem;
	font-size: 1rem;
	border: 1px solid #00EFF3;
	color: #00EFF3;
	text-transform: uppercase;
	border-radius: 2.5rem;
	text-decoration: none;
	font-family: 'Rifton';
}
.bonus_info_title {
	display: block;
	font-size: 2.6rem;
	line-height: normal;
	font-family: 'Rifton';
	margin-top: 2rem;
}
.bonus_info_text {
	display: block;
	font-size: 1.6rem;
	line-height: normal;
	margin-top: 2rem;
	color: #B3B7BB;
}
.music_yandex_side {
	display: block;
	width: 50%;
	height: 54.7em;
	border-radius: 3rem;
	overflow: hidden;
}
.filmes_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100rem;
	margin: 9.5rem auto 0;
}
.filmes_yandex_side {
	display: block;
	width: 50%;
	height: 51.3rem;
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
	background-color: #0F2539;
}
.filmes_yandex_side:before {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #00EFF3 0%, rgba(217, 217, 217, 0.00) 100%);
	position: absolute;
	bottom: -22rem;
	left: -22rem;
	z-index: 1;
	animation: ice_chill_before 10s linear infinite;
}
.filmes_yandex_side:after {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #00EFF3 0%, rgba(217, 217, 217, 0.00) 100%);
	position: absolute;
	top: -22rem;
	right: -22rem;
	z-index: 1;
	animation: ice_chill_after 10s linear infinite;
}
.filmes_swiper {
	width: 100%;
	z-index: 2;
	position: relative;
}
.filmes_swiper .swiper-slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 6.5rem;
	box-sizing: border-box;
	width: 30rem;
}
.swiper_storage {
	display: none;
}
.film_item {
	display: block;
	width: 24rem;
	text-decoration: none;
	color: #FFFFFF;
}
.film_poster_container {
	display: block;
	width: 100%;
	height: 29.5rem;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
}
.film_poster_container:before {
	content: '';
	display: block;
	width: 5rem;
	height: 5rem;
	background-image: url(img/icon_play_film.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	transition: transform .4s ease;
}
.film_poster_container:before:hover {
	transform: scale(1.05);
}
.film_poster_container img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
.film_title {
	display: block;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: normal;
	margin-top: 1.3rem;
	padding: 0 10%;
	box-sizing: border-box;
}
.film_description {
	display: block;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: normal;
	margin-top: 2rem;
	padding: 0 10%;
	box-sizing: border-box;
}
.film_info_side {
	display: block;
	width: 50%;
	height: 51.3rem;
	background-color: #0C1823;
	padding: 7.2rem 6rem 0;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	position: relative;
	box-sizing: border-box;
}
.film_info_side:before {
	content: '';
	display: block;
	width: 10rem;
	height: 10rem;
	background-image: url(img/round_yellow_arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	bottom: -5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: round_yellow_arrow 4s linear infinite;
}
.sticker_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100rem;
	margin: 10.3rem auto 0;
}
.sticker_info_side {
	display: block;
	width: 50%;
	height: 51.3rem;
	background-color: #0C1823;
	padding: 11.9rem 6.3rem 0 7.7rem;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	position: relative;
	box-sizing: border-box;
}
.sticker_yandex_side {
	display: block;
	width: 50%;
	height: 51.3rem;
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
	background-color: #0F2539;
}
.sticker_yandex_side:before {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #00EFF3 0%, rgba(217, 217, 217, 0.00) 100%);
	position: absolute;
	bottom: -22rem;
	left: -22rem;
	z-index: 1;
	animation: ice_chill_before 10s linear infinite;
}
.sticker_yandex_side:after {
	content: '';
	display: block;
	width: 43.7rem;
	height: 43.7rem;
	background: radial-gradient(50% 50% at 50% 50%, #00EFF3 0%, rgba(217, 217, 217, 0.00) 100%);
	position: absolute;
	top: -22rem;
	right: -22rem;
	z-index: 1;
	animation: ice_chill_after 10s linear infinite;
}
.sticker_1 {
	display: block;
	width: 27rem;
	position: absolute;
	top: 10.8rem;
	left: 0;
	z-index: 2;
}
.sticker_2 {
	display: block;
	width: 22.2rem;
	position: absolute;
	top: 5.8rem;
	left: 12.4rem;
	z-index: 3;
}
.sticker_3 {
	display: block;
	width: 27rem;
	position: absolute;
	top: 12rem;
	left: 20rem;
	z-index: 2;
}
.load_stickers_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 17.7rem;
	height: 5rem;
	border: 1px solid #FFFFFF;
	font-size: 2rem;
	color: #FFFFFF;
	font-family: 'Rifton';
	position: absolute;
	top: 39.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	transition: transform .4s ease, color .4s ease, background-color .4s ease;
	text-decoration: none;
	z-index: 4;
}
.load_stickers_button:hover {
	transform: scale(1.05);
	color: #0F2539;
	background-color: #FFFFFF;
}
.share_section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding-top: 12.4rem;
	position: relative;
}
.share_arrow {
	display: block;
	width: 10rem;
	position: absolute;
	top: 1.6rem;
	left: 40vw;
	animation: yellow_arrow_2 4s linear infinite;
	transform-origin: center top;
}
@keyframes yellow_arrow_2 {
	0% {
		transform: none;
	}
	50% {
		transform: rotate(-6deg);
	}
	100% {
		transform: none;
	}
}
.share_text {
	display: block;
	text-align: center;
	font-size: 4.3rem;
	width: 118rem;
	font-family: 'Rifton';
}
.share_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35.5rem;
	height: 8.2rem;
	border-radius: 8.2rem;
	background-color: #FBF100;
	cursor: pointer;
	margin-top: 7.3rem;
	color: #000000;
	font-family: 'Rifton';
	font-size: 1.5rem;
	line-height: normal;
	transition: transform .4s ease;
	text-decoration: none;
}
.share_button:hover {
	transform: scale(1.05);
}
.another_attempt_button {
	display: block;
	width: auto;
	font-size: 1.2rem;
	color: #B3B7BB;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	margin-top: 1rem;
}
.another_attempt_button:hover {
	text-decoration: underline;
}
.son.hidden,
.brother.hidden,
.boyfriend.hidden {
	display: none !important;
}

/*---------- main end ----------*/

/*---------- footer start ----------*/

.index_footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: 20vh;
	height: calc(var(--vh, 1vh) * 20);
	position: relative;
	padding: 0 37.2rem 2rem 36rem;
	box-sizing: border-box;
	z-index: 3;
}
.footer_buy_button {
	display: block;
	width: 35.5rem;
	height: 7.3rem;
	border-radius: 7.3rem;
	border: 2px solid #FBF100;
	background-image: url(img/logo_market.svg);
	background-repeat: no-repeat;
	background-size: 28rem auto;
	background-position: center;
	cursor: pointer;
	background-color: transparent;
	outline: none;
	transition: transform .4s ease;
	margin: 0 auto;
}
.footer_buy_button:hover {
	transform: scale(1.05);
}
.footer_text {
	display: block;
	margin-top: 2.7rem;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: normal;
}
.footer_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 2rem;
}
.footer_text_mini {
	display: block;
	font-size: 1.2rem;
	font-weight: 400;
}
.footer_text_mini span {
	font-weight: 700;
}
.footer_text_mini a {
	color: #FFFFFF;
	text-decoration: underline;
}
.footer_text_mini a:hover {
	text-decoration: none;
}
.logo_axe_footer {
    display: block;
    font-size: 1.5rem;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Rifton';
}
.logo_axe_footer span {
	color: #D1FB00;
}
.edadeal_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 15rem;
	background: linear-gradient(180deg, #304E65 0%, rgba(48, 78, 101, 0.00) 100%);
	position: absolute;
	right: 5.3rem;
	bottom: 2rem;
	cursor: pointer;
	transition: transform .4s ease;
	border: none;
	outline: none;
	border-radius: 3rem;
}
.edadeal_button:hover {
	transform: scale(1.05);
}
.desk_image {
	display: block;
	width: 11rem;
}
.mobile_image {
	display: none;
}

/*---------- footer end ----------*/

/*---------- popup start ----------*/

.popups_container {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .7);
	z-index: -999;
	transition: opacity .4s ease;
	opacity: 0;
}
.popups_container.active_popups_container {
	opacity: 1;
	z-index: 999;
}
.popup {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 98rem;
	height: 46rem;
	position: absolute;
	top: 28.6rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-image: url(img/bg_popup.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: transform .4s ease, opacity .4s ease;
	opacity: 0;
	transform: translateY(-5rem);
	padding: 8rem 15.3rem 0;
	box-sizing: border-box;
}
.active_popups_container .popup {
	opacity: 1;
	transform: none;
}
.img_collab {
	display: block;
	width: 25.4rem;
}
.popup_title {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 2.5rem;
	line-height: normal;
	color: #FBF100;
	font-family: 'Rifton';
	font-weight: 400;
	margin-top: 3rem;
}
.check_popup_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 31.5rem;
	height: auto;
	margin-top: 2.9rem;
}
.reg_button {
	display: block;
	width: 25rem;
	height: 5.2rem;
	background-color: #FFFFFF;
	border-radius: 5.2rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: transform .4s ease;
	padding-left: 4.8rem;
	box-sizing: border-box;
	position: relative;
}
.reg_button:hover {
	transform: scale(1.05);
}
.reg_button:before {
	content: '';
	display: block;
	width: 3.6rem;
	height: 3.1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: .9rem;
	margin: auto 0;
	background-image: url(img/icon_reg.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.reg_button_mail {
	display: block;
	font-size: 1.5rem;
	line-height: normal;
	color: #000000;
	text-align: left;
}
.reg_button_text {
	display: block;
	font-size: 1.2rem;
	line-height: normal;
	color: #000000;
	text-align: left;
}
.check_button {
	display: block;
	width: 5.2rem;
	height: 5.2rem;
	background-image: url(img/icon_check.svg);
	background-repeat: no-repeat;
	background-size: 40% auto;
	background-position: center;
	cursor: pointer;
	transition: transform .4s ease;
	border: none;
	outline: none;
	background-color: #FFFFFF;
	border-radius: 50%;
}
.check_button:hover {
	transform: scale(1.05);
}
.popup_links_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 34rem;
	margin-top: 3rem;
}

.popup_link {
	display: block;
	width: auto;
	font-size: 1.2rem;
	line-height: 1em;
	color: #D9D9D9;
	text-decoration: underline;
	cursor: pointer;
}
.popup_link:hover {
	text-decoration: none;
}
.close_popup_button {
	display: block;
	width: 9.1rem;
	position: absolute;
	top: -4.5rem;
	right: -4.5rem;
	z-index: 2;
	cursor: pointer;
	transition: transform .4s ease;
	background-color: transparent;
	border: none;
	outline: none;
}
.footnote {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 1rem;
	line-height: 1.1em;
	opacity: 0.6;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2rem;
	padding: 0 12%;
	box-sizing: border-box;
}
.footnote a {
	color: #FFFFFF;
	text-decoration: underline;
}
.footnote a:hover {
	text-decoration: none;
}
.close_popup_button:hover {
	transform: scale(1.05);
}
.close_popup_button img {
	display: block;
	width: 100%;
}

/*---------- popup end ----------*/

@media screen and (max-width: 1800px) {
	html {
		font-size: .52vw;
	}
}

@media screen and (min-width: 2000px) {
	html {
		font-size: .52vw;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 1vw;
	}
	body:before {
		background-image: url('img/bg_mobile.png');
	}

	/*---------- main start ----------*/

	.index_main {
		min-height: 80vh;
		min-height: calc(var(--vh, 1vh) * 80);
	}
	.index_main:before {
		background-position: center 16.4rem;
	}
	.ufo_box {
		top: 13rem;
	}
	.logo_axe {
		width: 30rem;
	}
	.ufo {
		width: 49.4rem;
		margin-top: 5rem;
	}
	.dynamic_block {
		padding-top: 43.8rem;
	}
	.active_dynamic_block {
		position: relative;
	}
	#welcome_block {
		width: 82rem;
	}
	.start_button {
		height: 22rem;
		border-radius: 3rem;
		border: 1px solid #FBF100;
	}
	.start_button span {
		font-size: 2.5rem;
	}
	.search {
		width: 5.5rem;
		left: 3rem;
	}
	.welcom_title {
		width: 100%;
		font-size: 3.3rem;
		margin: 17rem auto 0;
	}
	.welcome_text {
		width: 100%;
		font-size: 3rem;
		margin: 10rem auto 0;
	}
	#question_block {
		width: 82rem;
	}
	.question_section_item {
		height: 88rem;
		border-radius: 3rem;
		border: 1px solid #FBF100;
		top: 43.8rem;
		overflow: hidden;
	}
	.question_title_container {
		height: 22rem;
	}
	.question_title_container:before {
		width: 5.5rem;
		height: 5.5rem;
		left: 3rem;
	}
	.question_title_container:after {
		width: 72rem;
		height: 1px;
	}
	.question_title {
		font-size: 2.5rem;
		padding: 0 4rem 0 9rem;
	}
	.answer_item {
		height: 22rem;
	}
	.answer_item_button {
		height: 22rem;
		font-size: 3rem;
		padding: 0 4rem 0 9rem;
	}
	.answer_item_button:before {
		width: 4rem;
		height: 4rem;
		left: 3rem;
	}
	.icons_line {
		width: 26rem;
	}
	.load_title {
		width: 84rem;
		font-size: 5.5rem;
		margin: 7.8rem auto 0;
	}
	.load_gif {
		width: 30rem;
		margin: 3rem auto 0;
	}
	.result_section {
		display: none;
		width: 70rem;
		height: auto;
	}
	.result_section.active_result_section {
		display: block;
	}
	.preview_side {
		width: 100%;
		height: 72rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.result_label {
		width: 30rem;
		height: 24rem;
		top: -11rem;
		left: -12rem;
	}
	.ice_chill_section .product_image {
		width: 58rem;
	}
	.dark_temptation_section .product_image {
		width: 60rem;
	}
	.cool_ocean_section .product_image {
		width: 59rem;
	}
	.ice_chill_section .preview_side:before {
		width: 60rem;
		height: 60rem;
		bottom: -30rem;
		left: -30rem;
	}
	.ice_chill_section .preview_side:after {
		width: 60rem;
		height: 60rem;
		top: -30rem;
		right: -30rem;
	}
	.dark_temptation_section .preview_side:before {
		width: 110rem;
		height: 110rem;
		top: 10rem;
		left: 10rem;
	}
	.dark_temptation_section .preview_side:after {
		width: 140rem;
		height: 140rem;
		bottom: 10rem;
		right: 8rem;
	}
	.cool_ocean_section .preview_side:before {
		width: 60rem;
		height: 60rem;
		bottom: -30rem;
		left: -30rem;
	}
	.cool_ocean_section .preview_side:after {
		width: 60rem;
		height: 60rem;
		top: -30rem;
		right: -30rem;
	}
	.description_side {
		width: 100%;
		height: 72rem;
		border-radius: 3rem;
	}
	.ice_chill_section .description_side {
		padding: 8.5rem 8rem 1rem 10rem;
	}
	.dark_temptation_section .description_side {
		padding: 8.5rem 8rem 1rem 10rem;
	}
	.cool_ocean_section .description_side {
		padding: 8.5rem 8rem 1rem 10rem;
	}
	.description_title {
		font-size: 2.5rem;
	}
	.ice_chill_section .description_image {
		width: 50rem;
	}
	.dark_temptation_section .description_image {
		width: 46rem;
	}
	.cool_ocean_section .description_image {
		width: 36rem;
	}
	.description_text {
		font-size: 2.2rem;
		margin-top: 7rem;
	}
	.buy_button {
		width: 36.8rem;
		height: 7rem;
		padding-left: 14rem;
		font-size: 3rem;
		border-radius: 10rem;
		letter-spacing: 2px;
	}
	.ice_chill_section .buy_button {
		margin-top: 5rem;
	}
	.dark_temptation_section .buy_button {
		margin-top: 5rem;
	}
	.cool_ocean_section .buy_button {
		margin-top: 5rem;
	}
	.buy_button:before {
		width: 7rem;
		height: 7rem;
	}
	.mouse_container {
		margin-top: 3rem;
	}
	.icon_mouse {
		width: 5.5rem;
	}
	.mouse_arrow {
		width: 2rem;
		margin: 1.5rem auto 0;
	}
	.another_section {
		display: block;
		width: 70rem;
		height: auto;
		margin: 3rem auto 0;
	}
	.another_item {
		width: 100%;
		height: 34rem;
		border-radius: 3rem;
	}
	.ice_another_item .another_item_image {
		width: 32rem;
	}
	.cool_another_item .another_item_image {
		width: 32rem;
	}
	.dark_another_item .another_item_image {
		width: 32rem;
	}
	.another_item_title {
		font-size: 2rem;
	}
	.another_item_logo {
		margin-top: 2.2rem;
	}
	.ice_another_item .another_item_logo {
		width: 16rem;
	}
	.cool_another_item .another_item_logo {
		width: 18rem;
	}
	.dark_another_item .another_item_logo {
		width: 31.4rem;
	}
	.buy_button_small {
		width: 29.2rem;
		height: 5.5rem;
		padding-left: 12rem;
		font-size: 2rem;
		letter-spacing: 2px;
		border-radius: 6rem;
		margin-top: 3.6rem;
	}
	.buy_button_small:before {
		width: 5.5rem;
		height: 5.5rem;
	}
	.not_all_text_container {
		margin-top: 8rem;
	}
	.not_all_text {
		font-size: 4rem;
	}
	.not_all_text:before {
		width: 15rem;
		height: 18rem;
		top: 1rem;
		left: 69rem;
	}
	.bonus_section {
		background-image: none;
		margin-top: 8rem;
	}
	.music_box {
		display: block;
		width: 70rem;
		margin: 0 auto;
		position: relative;
	}
	.music_info_side {
		position: static;
		width: 100%;
		height: 56rem;
		padding: 8.5rem 4rem 0 10rem;
		border-top-left-radius: 3rem;
		border-top-right-radius: 3rem;
		border-bottom-left-radius: 0;
	}
	.music_info_side:before {
		width: 14rem;
		height: 14rem;
		bottom: -19rem;
	}
	.bonus_text {
		width: 18rem;
		height: 3.6rem;
		border-radius: 3.6rem;
		font-size: 1.5rem;
	}
	.bonus_info_title {
		font-size: 3.6rem;
		margin-top: 2.5rem;
	}
	.bonus_info_text {
		font-size: 2.5rem;
		margin-top: 2.5rem;
	}
	.music_yandex_side {
		width: 70rem;
		height: 120em;
		border-radius: 4rem;
	}
	.filmes_box {
		flex-direction: column-reverse;
		justify-content: flex-start;
		width: 70rem;
		margin: 23.3rem auto 0;
		position: relative;
	}
	.filmes_yandex_side {
		width: 100%;
		height: 72rem;
		border-radius: 3rem;
	}
	.filmes_yandex_side:before {
		width: 60rem;
		height: 60rem;
		bottom: -30rem;
		left: -30rem;
	}
	.filmes_yandex_side:after {
		width: 60rem;
		height: 60rem;
		top: -30rem;
		right: -30rem;
	}
	.filmes_swiper .swiper-slide {
		padding-top: 9rem;
		width: 40rem;
	}
	.film_item {
		width: 34rem;
	}
	.film_poster_container {
		height: 41rem;
		border-radius: 1.5rem;
	}
	.film_poster_container:before {
		width: 7rem;
		height: 7rem;
	}
	.film_title {
		font-size: 1.8rem;
		margin-top: 1.8rem;
	}
	.film_description {
		font-size: 1.6rem;
		margin-top: 2rem;
	}
	.film_info_side {
		width: 100%;
		height: 72rem;
		padding: 10rem 9rem 0;
		border-top-right-radius: 3rem;
		border-top-left-radius: 3rem;
		border-bottom-right-radius: 0;
		position: static;
	}
	.film_info_side:before {
		display: none;
	}
	.filmes_box:before {
		content: '';
		display: block;
		width: 14rem;
		height: 14rem;
		background-image: url(img/round_yellow_arrow.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		position: absolute;
		bottom: -19rem;
		left: 0;
		right: 0;
		margin: 0 auto;
		animation: round_yellow_arrow 4s linear infinite;
	}
	.sticker_box {
		display: block;
		width: 70rem;
		margin: 23.3rem auto 0;
	}
	.sticker_info_side {
		width: 100%;
		height: 49.7rem;
		padding: 10rem 9rem 0 10.5rem;
		border-top-left-radius: 3rem;
		border-top-right-radius: 3rem;
		border-bottom-left-radius: 0;
		position: relative;
	}
	.sticker_yandex_side {
		width: 100%;
		height: 72rem;
		border-radius: 3rem;
	}
	.sticker_yandex_side:before {
		width: 60rem;
		height: 60rem;
		bottom: -30rem;
		left: -30rem;
	}
	.sticker_yandex_side:after {
		width: 60rem;
		height: 60rem;
		top: -30rem;
		right: -30rem;
	}
	.sticker_1 {
		width: 30.5rem;
		top: 15rem;
	}
	.sticker_2 {
		width: 30.5rem;
		top: 9rem;
		left: 17.2rem;
	}
	.sticker_3 {
		width: 30.5rem;
		top: 16.6rem;
		left: 31rem;
	}
	.load_stickers_button {
		width: 24.7rem;
		height: 7rem;
		font-size: 2.8rem;
		top: 54.7rem;
	}
	.share_section {
		padding-top: 17.2rem;
		padding-bottom: 2rem;
	}
	.share_arrow {
		width: 15rem;
		top: 1.6rem;
		left: 45vw;
	}
	.share_text {
		font-size: 4rem;
		width: 100%;
	}
	.share_button {
		width: 61.1rem;
		height: 12.5rem;
		border-radius: 12.5rem;
		margin-top: 5rem;
		font-size: 2.5rem;
	}
	.another_attempt_button {
		font-size: 2.3rem;
		margin-top: 2rem;
	}

	/*---------- main end ----------*/

	/*---------- footer start ----------*/

	.index_footer {
		height: 20vh;
		height: calc(var(--vh, 1vh) * 20);
		padding: 0 9rem 9rem;
	}
	.footer_buy_button {
		display: block;
		width: 61.1rem;
		height: 12.5rem;
		border-radius: 12.5rem;
		border: 1px solid #FBF100;
		background-image: url(img/logo_market.svg);
		background-repeat: no-repeat;
		background-size: 48rem auto;
		background-position: center;
	}
	.footer_text {
		margin-top: 6rem;
		font-size: 2.5rem;
	}
	.footer_container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
		margin-top: 2rem;
	}
	.footer_text_mini {
		font-size: 2.5rem;
		width: 60%;
	}
	.logo_axe_footer {
		display: none;
	}
	.edadeal_button {
		display: block;
		width: 16.8rem;
		height: auto;
		right: 9rem;
		bottom: 9rem;
		border-radius: 3rem;
	}
	.desk_image {
		display: none;
	}
	.mobile_image {
		display: block;
		width: 100%;
	}

	/*---------- footer end ----------*/

	/*---------- popup start ----------*/

	.popup {
		width: 86rem;
		height: auto;
		top: 10rem;
		background-image: url(img/bg_popup_mobile.png);
		padding: 27.5rem 5.5rem 4rem;
	}
	.img_collab {
		width: 42rem;
	}
	.popup_title {
		font-size: 5.5rem;
		margin-top: 16.4rem;
	}
	.check_popup_container {
		width: 52.8rem;
		margin-top: 16.1rem;
	}
	.reg_button {
		width: 42rem;
		height: 9rem;
		border-radius: 9rem;
		padding-left: 8rem;
	}
	.reg_button:before {
		width: 6.1rem;
		height: 6rem;
		left: 1.5rem;
	}
	.reg_button_mail {
		font-size: 2.4rem;
	}
	.reg_button_text {
		font-size: 2rem;
	}
	.check_button {
		width: 9rem;
		height: 9rem;
	}
	.popup_links_container {
		width: 56.6rem;
		margin-top: 6.1rem;
	}
	.popup_link {
		font-size: 2rem;
	}
	.close_popup_button {
		width: 12rem;
		top: -6rem;
		right: -6rem;
	}
	.footnote {
		font-size: 2rem;
		line-height: 1.1em;
		position: static;
		padding: 0;
		margin-top: 4rem;
	}

	/*---------- popup end ----------*/
}